<div>
  <div>
    <p>
      <strong>Title:</strong>
      <%= @lessions_course.title %>
    </p>
    <p>
      <strong>Title:</strong>
      <%= @lessions_course.title %>
    </p>
  </div>
  <div>

  </div>
</div>


<%= link_to 'Edit', edit_lessions_course_path(@lessions_course) %> |
<%= link_to 'Back', lessions_courses_path %>
