<% if @courses.present? %>
    <div class="container listCourses">   
        <%= render partial: "course", collection: @courses %>
    </div>
    <br>
    <%= will_paginate %>
    <%= link_to t("courses.new"), new_course_path, class: "btn " %>
<% end %>
